  

<md-toolbar class="main" class="toolbar">
  	<div fxFlex>
	  	<span class="title" style="color:#9d45b3">Rasm</span> 
	  	<span class="title" style="color:white">Tech</span> 	 
  	</div> 
  	<div fxFlex="13" fxLayoutAlign="center center"> 
	  	<div fxFlex  fxLayoutAlign="start start">
	 		<i class="material-icons wrap center wave">mail_outline</i>	 
	 		<div class="notify-icon" fxFlex="33" fxLayoutAlign="center center" >
	 			<span class="notifiNum">3</span>
	 		</div> 	
	  	</div> 
	  	<div fxFlex fxLayoutAlign="start start">
	 		<i class="material-icons wrap center wave">notifications_none</i>	 
	 		<div class="notify-icon" fxFlex="33" fxLayoutAlign="center center">
	 			<span class="notifiNum">1</span>
	 		</div> 	  	
	  	</div> 
	 	<div fxFlex="40" > 
	 		<img fxLayout src="http://www.gantrypark.com/Portals/12/Users/066/14/53314/adam-parker-large.jpg" 
			style="width: 50px;height: 50px;border-radius: 50px;">	
	 	</div> 
  	</div>
  	<div fxFlex="1"> </div>
</md-toolbar>
 
<div style=" height: 100%;"  >
	
	<!-- (mouseleave)='sideNavClose()' -->
	<div   (mouseover)="right.open();" fxFlex="4" fxLayout="column"  >
		
		<div *ngFor="let item of navArray" class="navImg" fxFlex href="#" [ngClass] = "{'click' : item.clickCls}" 
		(click)="changeColor(item)">  
      		<i class="material-icons" fxFlex  fxLayoutAlign="center center" style="color:white" [ngClass] = "{'clickText' : item.clickCls}"  (click)="changeColor(item)">{{item.icon}}</i>	 
		</div>
	</div >
	<md-sidenav-container class="sideNav-container"  (mouseleave)="right.close()" fxFlex="10" fxLayout="column"> 
	    <md-sidenav class="sideNav" #right mode="side" opened="false"  fxLayout="column"  style="box-shadow: 3px 2px 5px #020a47; ">
	     	<div  *ngFor="let item of navArray" fxLayout="row" fxLayoutAlign="center center" fxFlex class="sideNavDiv" 
	     		    [ngClass] = "{'clickNav' : item.clickCls}" (click)="changeColor(item)" >
	     		<span  fxLayout fxLayoutAlign="center center"  fxFlex style="color:white"  [ngClass] = "{'clickText' : item.clickCls}" >{{item.name}}  </span>
	     	</div> 
	    </md-sidenav> 
	</md-sidenav-container>
	

  <ui-view>  </ui-view> 
</div>